body{
    background: #958585;
    /* height: 100px;
    width: 100%; */
}
header{
    /* width: 50%; */
    height: 200px;
    /* margin: 0 auto; */
    text-align: center;
    padding-top: 50px;  
}
h1{
    margin-top: 0;
    font-size: 90px;
    font-weight: 500;
    margin-bottom: 15px;
}
nav{
    margin-bottom: 30px;
}
ul li{
    margin-top: 0;
    font-size: 20px;
    font-weight: 300px;
    margin-bottom: 100px;
    display: inline-block;  
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(44, 40, 40);
    border: 1px rgb(44, 40, 40);   
}
li:hover{
    background-color: #544e4e;
}
li a{
    color: #d0bdbd;
    text-decoration: none;
}
.aboutMe{
    height: 100%;
    width: 100%;
    padding: 80px 0;
}
.picture{
    height: 500px;
    width: 400px;
    border-radius: 50px;
}
.me{
    width: 1000px;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.message{
    width: 550px;
    padding-left: 30px;
}
h2{
    margin-top: 0;
    font-size: 70px;
    font-weight: 500;
    margin-bottom: 15px;
}
h3{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}
p{
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
}
.fun{
    color: #272121;
    text-decoration: underline #272121;
}
.border{
    margin-top: 20px;
}
.hire{
    font-size: 20px;
    background: #272121;
    color: #dbcaca;
    padding: 5px 20px;
    border-radius: 5px;
    transition: 2s;
}
.hire:hover{
    background: #7d6363;
    border: 1px solid #272121;
}
footer{
    text-align: center;
    list-style-position: inside;
    margin-bottom: 50px;
    margin-top: 50px;
}
h4{
    font-size: 30px;
    margin: 0 auto;
}